In [1]:
# Importar arquivo csv e transformar em dataframe
import pandas as pd
import numpy as np
from numpy import nan 

print(pd.__version__)
# Ler o arquivo CSV
df = pd.read_csv('./paranavai.csv')
df.columns = ['ibge', 'cd_ui', 'logradouro', 'nr_ui']

# Mostrar as primeiras linhas do DataFrame
print(df.head())

2.2.2
      ibge           cd_ui                    logradouro nr_ui
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293
2  4118402  01.03.369.0078           593 - INGO KRAMBECK   S/N
3  4118402  01.03.369.0015           593 - INGO KRAMBECK   S/N
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA   S/N

In [3]:
# Cria a coluna quadra 
df['id_quadra'] = df['cd_ui'].str[:9]

# limpa a coluna logradouro 
df[['cd_logradouro', 'nm_logradouro']] = df['logradouro'].str.split(' - ', n=1, expand=True)

df['id_quadra_logradouro'] = df['id_quadra'] + '_' + df['nm_logradouro']
print(df.head())

      ibge           cd_ui                    logradouro nr_ui  id_quadra  \
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950  01.03.020
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293  02.17.011
2  4118402  01.03.369.0078           593 - INGO KRAMBECK   S/N  01.03.369
3  4118402  01.03.369.0015           593 - INGO KRAMBECK   S/N  01.03.369
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA   S/N  01.06.275

  cd_logradouro           nm_logradouro              id_quadra_logradouro
0           136           SALGADO FILHO           01.03.020_SALGADO FILHO
1           875        HELIO DE FREITAS        02.17.011_HELIO DE FREITAS
2           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
3           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
4           744  NELSON MOREIRA BATISTA  01.06.275_NELSON MOREIRA BATISTA

In [5]:
#
# TRATA NR_UI
# 
def ret_num_ui(nr_ui):
    vlr = ''.join(filter(str.isdigit, str(nr_ui)))
    if(vlr == ''):
        return np.NaN
    else:
        return vlr

df['nr_ui']=df['nr_ui'].apply(lambda x: float(ret_num_ui(x)))

print(df.head())

      ibge           cd_ui                    logradouro   nr_ui  id_quadra  \
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950.0  01.03.020
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293.0  02.17.011
2  4118402  01.03.369.0078           593 - INGO KRAMBECK     NaN  01.03.369
3  4118402  01.03.369.0015           593 - INGO KRAMBECK     NaN  01.03.369
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA     NaN  01.06.275

  cd_logradouro           nm_logradouro              id_quadra_logradouro
0           136           SALGADO FILHO           01.03.020_SALGADO FILHO
1           875        HELIO DE FREITAS        02.17.011_HELIO DE FREITAS
2           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
3           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
4           744  NELSON MOREIRA BATISTA  01.06.275_NELSON MOREIRA BATISTA

In [11]:
media_quadra_logradouro = df.groupby('id_quadra_logradouro', dropna=False)['nr_ui'].mean()
#df['media_nr_ui'] = df.groupby('id_quadra_logradouro', dropna=False)['nr_ui'].mean()
media_quadra_logradouro

id_quadra_logradouro
01.01.001_AMAZONAS             1436.000000
01.01.001_SALVADOR              767.285714
01.01.001_SANTA CATARINA       1535.444444
01.01.002_ETTORE GIOVINE       1391.666667
01.01.002_RIO GRANDE DO SUL    1435.200000
                                  ...
05.01.010_H - MANDIOCABA       1059.833333
05.01.011_DAS INDUSTRIAS               NaN
05.01.011_H - MANDIOCABA               NaN
05.01.011_HENRIQUE RAMOS               NaN
05.01.012_DAS INDUSTRIAS               NaN
Name: nr_ui, Length: 7449, dtype: float64

In [9]:
## Criar um dataframe apenas com os atributos necess√°rios

# Eliminando linhas com dados da quadra + logradouro repetidos
df_quadra_logradouro = df.drop_duplicates(subset=['id_quadra_logradouro'])
df_ch_quadra_logradouro = df_quadra_logradouro[['id_quadra_logradouro', 'id_quadra', 'cd_logradouro', 'nm_logradouro']]
print(df_ch_quadra_logradouro.head())
df_ch_quadra_logradouro.sort_values(by=['id_quadra_logradouro'], inplace=True)
df_ch_quadra_logradouro.to_csv('./paranavai_logradouros.csv')

print(df_ch_quadra_logradouro.head())

                 id_quadra_logradouro  id_quadra cd_logradouro  \
0             01.03.020_SALGADO FILHO  01.03.020           136
1          02.17.011_HELIO DE FREITAS  02.17.011           875
2             01.03.369_INGO KRAMBECK  01.03.369           593
4    01.06.275_NELSON MOREIRA BATISTA  01.06.275           744
5  01.06.278_APRIGIO PEREIRA DA SILVA  01.06.278           745

              nm_logradouro
0             SALGADO FILHO
1          HELIO DE FREITAS
2             INGO KRAMBECK
4    NELSON MOREIRA BATISTA
5  APRIGIO PEREIRA DA SILVA
              id_quadra_logradouro  id_quadra cd_logradouro      nm_logradouro
23571           01.01.001_AMAZONAS  01.01.001           105           AMAZONAS
5999            01.01.001_SALVADOR  01.01.001            97           SALVADOR
6         01.01.001_SANTA CATARINA  01.01.001            84     SANTA CATARINA
2790      01.01.002_ETTORE GIOVINE  01.01.002           106     ETTORE GIOVINE
2141   01.01.002_RIO GRANDE DO SUL  01.01.002            83  RIO GRANDE DO SUL

C:\Users\59186950010\AppData\Local\Temp\ipykernel_19464\3885290790.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ch_quadra_logradouro.sort_values(by=['id_quadra_logradouro'], inplace=True)

In [13]:
# Junta os dados das quadras com a m√©dia dos n√∫meros dos endere√ßos das UIs
df_ch_quadra_logradouro.join(media_quadra_logradouro, on='id_quadra_logradouro')

,id_quadra_logradouro,id_quadra,cd_logradouro,nm_logradouro,nr_ui
23571,01.01.001_AMAZONAS,01.01.001,105,AMAZONAS,1436.000000
5999,01.01.001_SALVADOR,01.01.001,97,SALVADOR,767.285714
6,01.01.001_SANTA CATARINA,01.01.001,84,SANTA CATARINA,1535.444444
2790,01.01.002_ETTORE GIOVINE,01.01.002,106,ETTORE GIOVINE,1391.666667
2141,01.01.002_RIO GRANDE DO SUL,01.01.002,83,RIO GRANDE DO SUL,1435.200000
...,...,...,...,...,...
18495,05.01.010_H - MANDIOCABA,05.01.010,378,H - MANDIOCABA,1059.833333
51686,05.01.011_DAS INDUSTRIAS,05.01.011,384,DAS INDUSTRIAS,NaN
51678,05.01.011_H - MANDIOCABA,05.01.011,378,H - MANDIOCABA,NaN
26919,05.01.011_HENRIQUE RAMOS,05.01.011,676,HENRIQUE RAMOS,NaN
25641,05.01.012_DAS INDUSTRIAS,05.01.012,384,DAS INDUSTRIAS,NaN

In [ ]:
# Agrupa as linhas com mesmo id_quadra
logradouros_por_quadra =df_ch_quadra_logradouro.groupby('id_quadra').agg(lambda x: set(x))
logradouros_por_quadra['qt_logradouros'] = df_ch_quadra_logradouro.groupby('id_quadra')[['nm_logradouro']].count()
logradouros_por_quadra.sort_values(by='qt_logradouros', inplace=True, ascending=False)
logradouros_por_quadra.to_csv('./paranavai_logradouros_por_quadra.csv')
#print(logradouros_por_quadra)

# Agrupa as linhas com mesmo nm_logradouro
#quadras_por_logradouro = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra']].agg(lambda x: set(x))
quadras_por_logradouro = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra']].agg(lambda x: list(x))

quadras_por_logradouro['qt_quadras'] = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra']].count()
quadras_por_logradouro.sort_values(by='qt_quadras', inplace=True, ascending=False)
quadras_por_logradouro.to_csv('./paranavai_quadras_por_logradouro.csv')
print(quadras_por_logradouro)

In [ ]:
semente = df.loc[df['nm_logradouro'] == 'DEPUTADO HEITOR ALENCAR FURTADO']
print(semente)

In [ ]:
paralelas = pd.merge(semente, df, how = 'inner', on = 'id_quadra')
paralelas = paralelas.loc[paralelas['nm_logradouro_y']!='DEPUTADO HEITOR ALENCAR FURTADO']
paralelas = paralelas[['nm_logradouro_y', 'id_quadra']]

paralelas = paralelas.groupby(['nm_logradouro_y']).count()
paralelas.sort_values(by='id_quadra', inplace=True, ascending=False)

print(paralelas)