In [83]:
# Importar arquivo csv e transformar em dataframe
import pandas as pd
import numpy as np
import re


speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", '80A'),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

speeds

          class           order max_speed
falcon     bird   Falconiformes       389
parrot     bird  Psittaciformes        24
lion     mammal       Carnivora       80A
monkey   mammal        Primates       NaN
leopard  mammal       Carnivora        58

In [ ]:
grouped = speeds.groupby("class").mean()
print(grouped.head())

In [95]:
def ret_num_ui(num_ui):
    vlr = ''.join(filter(str.isdigit, str(num_ui)))
    if(vlr == ''):
        return np.NaN
    else:
        return vlr
    
speeds['max_speed']=speeds['max_speed'].apply(lambda x:ret_num_ui(x))
speeds

          class           order max_speed
falcon     bird   Falconiformes      3890
parrot     bird  Psittaciformes       240
lion     mammal       Carnivora        80
monkey   mammal        Primates       NaN
leopard  mammal       Carnivora        58

In [ ]:
speeds['media'] = pd.to_numeric(speeds['max_speed'], errors='coerce')
speeds