In [2]:
# Importar arquivo csv e transformar em dataframe
import pandas as pd
import numpy as np
from numpy import nan 

print(pd.__version__)
# Ler o arquivo CSV
df = pd.read_csv('./paranavai.csv')
df.columns = ['ibge', 'cd_ui', 'logradouro', 'nr_ui']

# Mostrar as primeiras linhas do DataFrame
print(df.head())

2.0.3
      ibge           cd_ui                    logradouro nr_ui
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293
2  4118402  01.03.369.0078           593 - INGO KRAMBECK   S/N
3  4118402  01.03.369.0015           593 - INGO KRAMBECK   S/N
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA   S/N

In [3]:
# Cria a coluna quadra 
df['id_quadra'] = df['cd_ui'].str[:9]

# limpa a coluna logradouro 
df[['cd_logradouro', 'nm_logradouro']] = df['logradouro'].str.split(' - ', n=1, expand=True)

df['id_quadra_logradouro'] = df['id_quadra'] + '_' + df['nm_logradouro']
print(df.head())

      ibge           cd_ui                    logradouro nr_ui  id_quadra  \
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950  01.03.020
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293  02.17.011
2  4118402  01.03.369.0078           593 - INGO KRAMBECK   S/N  01.03.369
3  4118402  01.03.369.0015           593 - INGO KRAMBECK   S/N  01.03.369
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA   S/N  01.06.275

  cd_logradouro           nm_logradouro              id_quadra_logradouro
0           136           SALGADO FILHO           01.03.020_SALGADO FILHO
1           875        HELIO DE FREITAS        02.17.011_HELIO DE FREITAS
2           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
3           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
4           744  NELSON MOREIRA BATISTA  01.06.275_NELSON MOREIRA BATISTA

In [4]:
#
# TRATA NR_UI
# 
def ret_num_ui(nr_ui):
    vlr = ''.join(filter(str.isdigit, str(nr_ui)))
    if(vlr == ''):
        return np.NaN
    else:
        return vlr

df['nr_ui']=df['nr_ui'].apply(lambda x: float(ret_num_ui(x)))

print(df.head())

      ibge           cd_ui                    logradouro   nr_ui  id_quadra  \
0  4118402  01.03.020.0095           136 - SALGADO FILHO   950.0  01.03.020
1  4118402  02.17.011.0151        875 - HELIO DE FREITAS  1293.0  02.17.011
2  4118402  01.03.369.0078           593 - INGO KRAMBECK     NaN  01.03.369
3  4118402  01.03.369.0015           593 - INGO KRAMBECK     NaN  01.03.369
4  4118402  01.06.275.0060  744 - NELSON MOREIRA BATISTA     NaN  01.06.275

  cd_logradouro           nm_logradouro              id_quadra_logradouro
0           136           SALGADO FILHO           01.03.020_SALGADO FILHO
1           875        HELIO DE FREITAS        02.17.011_HELIO DE FREITAS
2           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
3           593           INGO KRAMBECK           01.03.369_INGO KRAMBECK
4           744  NELSON MOREIRA BATISTA  01.06.275_NELSON MOREIRA BATISTA

In [5]:
media_quadra_logradouro = df.groupby('id_quadra_logradouro', dropna=False)['nr_ui'].mean()
#df['media_nr_ui'] = df.groupby('id_quadra_logradouro', dropna=False)['nr_ui'].mean()
media_quadra_logradouro

id_quadra_logradouro
01.01.001_AMAZONAS             1436.000000
01.01.001_SALVADOR              767.285714
01.01.001_SANTA CATARINA       1535.444444
01.01.002_ETTORE GIOVINE       1391.666667
01.01.002_RIO GRANDE DO SUL    1435.200000
                                  ...
05.01.010_H - MANDIOCABA       1059.833333
05.01.011_DAS INDUSTRIAS               NaN
05.01.011_H - MANDIOCABA               NaN
05.01.011_HENRIQUE RAMOS               NaN
05.01.012_DAS INDUSTRIAS               NaN
Name: nr_ui, Length: 7449, dtype: float64

In [6]:
## Criar um dataframe apenas com os atributos necessários

# Eliminando linhas com dados da quadra + logradouro repetidos
df_quadra_logradouro = df.drop_duplicates(subset=['id_quadra_logradouro'])
df_ch_quadra_logradouro = df_quadra_logradouro[['id_quadra_logradouro', 'id_quadra', 'cd_logradouro', 'nm_logradouro']]
print(df_ch_quadra_logradouro.head())
df_ch_quadra_logradouro.sort_values(by=['id_quadra_logradouro'], inplace=True)
df_ch_quadra_logradouro.to_csv('./paranavai_logradouros.csv')

print(df_ch_quadra_logradouro.head())

                 id_quadra_logradouro  id_quadra cd_logradouro  \
0             01.03.020_SALGADO FILHO  01.03.020           136
1          02.17.011_HELIO DE FREITAS  02.17.011           875
2             01.03.369_INGO KRAMBECK  01.03.369           593
4    01.06.275_NELSON MOREIRA BATISTA  01.06.275           744
5  01.06.278_APRIGIO PEREIRA DA SILVA  01.06.278           745

              nm_logradouro
0             SALGADO FILHO
1          HELIO DE FREITAS
2             INGO KRAMBECK
4    NELSON MOREIRA BATISTA
5  APRIGIO PEREIRA DA SILVA
              id_quadra_logradouro  id_quadra cd_logradouro      nm_logradouro
23571           01.01.001_AMAZONAS  01.01.001           105           AMAZONAS
5999            01.01.001_SALVADOR  01.01.001            97           SALVADOR
6         01.01.001_SANTA CATARINA  01.01.001            84     SANTA CATARINA
2790      01.01.002_ETTORE GIOVINE  01.01.002           106     ETTORE GIOVINE
2141   01.01.002_RIO GRANDE DO SUL  01.01.002            83  RIO GRANDE DO SUL

<ipython-input-6-eab5c911ede4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ch_quadra_logradouro.sort_values(by=['id_quadra_logradouro'], inplace=True)

In [7]:
# Junta os dados das quadras com a média dos números dos endereços das UIs
df_ch_quadra_logradouro = df_ch_quadra_logradouro.join(media_quadra_logradouro, on='id_quadra_logradouro')

In [11]:
# Agrupa as linhas com mesmo id_quadra
logradouros_por_quadra =df_ch_quadra_logradouro.groupby('id_quadra').agg(lambda x: set(x))
logradouros_por_quadra['qt_logradouros'] = df_ch_quadra_logradouro.groupby('id_quadra')[['nm_logradouro']].count()
logradouros_por_quadra.sort_values(by='qt_logradouros', inplace=True, ascending=False)
logradouros_por_quadra.to_csv('./paranavai_logradouros_por_quadra.csv')
#print(logradouros_por_quadra)

# Agrupa as linhas com mesmo nm_logradouro
#quadras_por_logradouro = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra']].agg(lambda x: set(x))
quadras_por_logradouro = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra','nr_ui']].agg(lambda x: list(x))

quadras_por_logradouro['qt_quadras'] = df_ch_quadra_logradouro.groupby('nm_logradouro')[['id_quadra']].count()
quadras_por_logradouro.sort_values(by='qt_quadras', inplace=True, ascending=False)
quadras_por_logradouro.to_csv('./paranavai_quadras_por_logradouro.csv')
print(quadras_por_logradouro)

                                                                                          id_quadra  \
nm_logradouro
DEPUTADO HEITOR ALENCAR FURTADO                   [01.02.153, 01.02.155, 01.02.156, 01.02.166, 0...
PRES TANCREDO NEVES                               [01.02.034, 01.02.035, 01.02.063, 01.02.064, 0...
AMAZONAS                                          [01.01.001, 01.01.024, 01.01.025, 01.01.048, 0...
LUIZ SPIGOLON                                     [01.01.012, 01.01.013, 01.01.036, 01.01.037, 0...
ANTONIO FELIPPE                                   [01.01.061, 01.01.062, 01.01.063, 01.01.065, 0...
...                                                                                             ...
JACARANDA - COND RES GREEN PARK                                                         [01.06.124]
JACARANDA-COND RES BOUGAINVILLE RESIDENCE&RESORT                                        [01.04.402]
PESSEGUEIRAS                                                                            [01.04.402]
CRISTINO RODRIGUES NOGUEIRA                                                             [01.03.541]
PROJETADA B - COND DANCAIZ RESIDENCE                                                    [01.02.476]

                                                                                              nr_ui  \
nm_logradouro
DEPUTADO HEITOR ALENCAR FURTADO                   [5555.0, 5650.0, 5760.0, 5945.0, 6088.42857142...
PRES TANCREDO NEVES                               [2920.0, 2968.0, nan, 3016.0, nan, 3144.0, 422...
AMAZONAS                                          [1436.0, 1526.0, 1613.5, 1668.6666666666667, 1...
LUIZ SPIGOLON                                     [881.0, 989.2, 1138.0, 1229.3333333333333, 133...
ANTONIO FELIPPE                                   [1668.7, 1554.7777777777778, 1404.6, 1232.0, 9...
...                                                                                             ...
JACARANDA - COND RES GREEN PARK                                                               [nan]
JACARANDA-COND RES BOUGAINVILLE RESIDENCE&RESORT                                              [nan]
PESSEGUEIRAS                                                                                  [nan]
CRISTINO RODRIGUES NOGUEIRA                                                                 [480.0]
PROJETADA B - COND DANCAIZ RESIDENCE                                                          [nan]

                                                  qt_quadras
nm_logradouro
DEPUTADO HEITOR ALENCAR FURTADO                          106
PRES TANCREDO NEVES                                       70
AMAZONAS                                                  58
LUIZ SPIGOLON                                             55
ANTONIO FELIPPE                                           54
...                                                      ...
JACARANDA - COND RES GREEN PARK                            1
JACARANDA-COND RES BOUGAINVILLE RESIDENCE&RESORT           1
PESSEGUEIRAS                                               1
CRISTINO RODRIGUES NOGUEIRA                                1
PROJETADA B - COND DANCAIZ RESIDENCE                       1

[1000 rows x 3 columns]

In [ ]:
semente = df.loc[df['nm_logradouro'] == 'DEPUTADO HEITOR ALENCAR FURTADO']
print(semente)

In [ ]:
paralelas = pd.merge(semente, df, how = 'inner', on = 'id_quadra')
paralelas = paralelas.loc[paralelas['nm_logradouro_y']!='DEPUTADO HEITOR ALENCAR FURTADO']
paralelas = paralelas[['nm_logradouro_y', 'id_quadra']]

paralelas = paralelas.groupby(['nm_logradouro_y']).count()
paralelas.sort_values(by='id_quadra', inplace=True, ascending=False)

print(paralelas)